.home {
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}
.text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  margin-top: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkitem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 120px;
  height: 30px;
  background-color: #f7d373;
  border-color: inherit;
  border-radius: 25px;
  padding: 12px;
  text-transform: uppercase;
  margin-top: 16px;
  cursor: pointer;
  text-decoration: none;
}
.link {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  max-width: 350px;
}
.linkitem:focus,
.linkitem:hover {
  background-color: white;
  color: #f7d373;
}

@media screen and (max-width: 767px) {
  .linkitem {
    padding: 10px;
    width: 100px;
    margin: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .item {
    margin: 20px;
  }
  .link {
    margin-top: 30px;
  }
}
