.authNav {
  display: flex;
  gap: 15px;
}

.link {
  display: inline-block;
  font-size: 18px;
  padding: 12px;
  color: #aaaaaa;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #f7d373;
}

@media screen and (max-width: 767px) {
  .link {
     padding: 5px;
  }
}
