@import-normalize; /* bring in normalize.css styles */

body {
  width: 1200;
  height: 1200;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    145deg,
    #ee82ee,
    slateblue,
    #ffd86a,
    purple
  );
  /* background-image: linear-gradient(to bottom, rgb(239, 217, 135), #ffffff); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  width: auto;
  height: 100%;
}

a.active {
  color: #f7d373;
}
